In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("spam.csv", encoding="latin-1")

In [5]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
1898,ham,Wat would u like 4 ur birthday?,NaN,NaN,NaN
5194,ham,Ok... Take ur time n enjoy ur dinner...,NaN,NaN,NaN
3006,ham,Ah you see. You have to be in the lingo. I wil...,NaN,NaN,NaN
927,ham,K:)i will give my kvb acc details:),NaN,NaN,NaN
11,spam,"SIX chances to win CASH! From 100 to 20,000 po...",NaN,NaN,NaN

In [6]:
df.shape

(5572, 5)